<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435003661540-k86vk9egq45o6v4g9m3bg54sp1c8vck6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435003661540-k86vk9egq45o6v4g9m3bg54sp1c8vck6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>435003661540-aidi6v52lsa2j08gehrj8qpfgh2n1p2q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxazWz9BTdlh5eLFs9NPJPkIUhWUlI8CA</string>
	<key>GCM_SENDER_ID</key>
	<string>435003661540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.molly</string>
	<key>PROJECT_ID</key>
	<string>molly-36434</string>
	<key>STORAGE_BUCKET</key>
	<string>molly-36434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435003661540:ios:0d18e6b33a6a0835de20f1</string>
</dict>
</plist>